
body {
background-color: #f0f0f5;
font-family: Arial, sans-serif;
}


h1 {
color: darkblue;
font-size: 32px;
font-style: italic;
}


p {
color: #333;
font-size: 16px;
margin: 10px 0;
}


.colored-div {
background-color: lightyellow;
border: 2px solid black;
padding: 15px;
margin: 20px 0;
}


.example {
color: purple;
}


#example-div {
font-weight: bold;
}