.Glowny_title {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(179, 253, 5);
  overflow: hidden;
}

.Glowny_title a {
  float: left;
  color: #2bff00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: thistle;
  font-size: 17px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  border: 3px solid rgb(0, 0, 0);

}


.topnav a {
  float: left;
  color: #2bff00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: thistle;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #00ffa2;
  color: white;
}



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.dzwiek {
  margin: auto;
  text-align: center;
}

body {
  background-color: black;
}

.Video {
  text-align: center;
  margin: 30px auto;
}

.bounce-button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #00ffa2;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s;
}

.divZKnopka {
  margin: center;
  text-align: center;
}

.bounce-button {
  text-align: center;
}


.bounce-button:hover {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-15%);
  }

  90% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-7%);
  }

  97% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0);
  }
}

#text-container {
  color: #2bff00;
  margin: auto;
  text-align: center;
  padding-top: 25px;
}