body {
  background-color: lightblue;
}

.center {
  text-align: center;
}

h1 {
  color: red;
  margin-bottom: 100px;
  padding-top: 50px;
  
  
}
h2 {
  color: yellow;
}

h3.center {

}

#h{
  font-style: oblique;
  text-align: center;
}

p {
    color: green;
    padding-top: 50px;
}
div {
  margin-top: 100px;
  padding-top: 50px;
  color: rgb(0, 128, 255);
}
